@use '../style/partials/variables' as *;

/*-------------------
        RESET
---------------------*/

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    color: $white;
    text-decoration: none;
}

/*-------------------
        GENERAL
---------------------*/

body {
    font-family: "Kanit", sans-serif;
}

h1 {
    font-size: 50px;
    color: $white;
}

h2 {
    font-size: 40px;
    color: $darkblue;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    color: $darkblue;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-color;
}

.span-title {
    color: $primary-color;
    background-color: $bg-color;
    border-radius: 4px;
    padding: 0 10px;
}

.span-title-negative {
    color: $white;
    background-color: $transparent-primary;
    border-radius: 4px;
    padding: 0 10px;
}

p {
    font-size: 16px;
    font-weight: 200;
    color: $darkblue;
}

.text {
    font-size: 16px;
    font-weight: 200;
}

.text-small {
    font-size: 14px;
    font-weight: 200;
}

/*-------------------
        LAYOUT
---------------------*/

.container {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}

.container-large {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/*-------------------
        UTILITIES
---------------------*/

.flex-direction-column {
    flex-direction: column;
}

.gap {
    gap: 20px;
}