/*-------------------
    COLOR CUBE
---------------------*/

$woodsmoke: #121117;
$white: #fff;
$abbey: #505051;
$silversand: #babdbe;
$bluelagoon: #038483;
$fountainblue: #51bdbc;

/*-------------------
    MEDIAN CUT
---------------------*/

$shark: #202427;
$greynurse: #e4eae6;
$gothic: #6c9b9c;
$smaltblue: #5c828c;
$bazaar: #947474;


/*-------------------
    MATERIAL DESIGN
---------------------*/

$primary-color: #1a948f;
$secondary-color: #7ed5d5;
$darker-primary: #097a7c;
$bg-color: #daeced;
$grey: #5e6063;
$darkblue: #24343c;
$transparent-primary: #1a949049;

